.container {background-color: #f8b195;}
.fw-bold {background-color: #f67280;}
.form-control {background-color: #c06c84;}
.card {background-color: rgb(240, 239, 241);}
#addNotes { background-color: #355c7d;}
body {font-family: Arial, Helvetica, sans-serif;
color: rgb(15, 10, 2);}